
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --light-:#ffffff;
    --lightgrey-: #e5e5e566;
    --primary-: #1b72e8;
    --primary_dark-: #165bba;
    --secondary-: #051e34;
    --bell-: #ff8f00;   
}


img{
    width: 100%;
}




/* #region Debug */


.debug #app_header{
    background-color: orange ;
}

.debug .sidebar{
    background-color: #1b72e8;
    height: calc(100vh - 70px);
    
}


.debug .content{
    background-color: aqua;
  
}

.debug [class^="col-"]{
    background-color: aquamarine;
    border: 1px dashed;
    height: 100px;
}

/* #endregion Debug */


/* #region Header */

#app_header{
   height:70px;
}

.logo {
   width: 50px;
   
}

.logo_large{
    width: 150px; 
    
}

.logo_small img{
    height: 100%;
}

.bg_search{
    background-color: var(--lightgrey-);
}

.bell {
   
    color: var(--bell-);
}

/* #endregion Header */


/* #region Main */

.content{
    height: calc(100vh - 70px);
    width: calc(100% - 70px);
}


.sidebar
{
    max-width: 220px;
    background-color: var(--secondary-);
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
}


.sidebar_top li:hover,
.sidebar_bottom div:hover
{
    background-color: var(--lightgrey-);
    border-radius: 10px;
}


.banner_top,
.banner_top .btn_student{
    background-color: var(--primary-);
    color: var(--light-);
}

.btn_student{
    font-size: 21px;
    margin-left: -10px;
}

.square{
    border: 1px solid var(--light-);
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 21px;
    vertical-align: middle;
    margin-left: 10px;
}

.square:hover{
    background-color: var(--light-);
    color: black;
}

.banner_top .student_offcanvas{
    width: 50%;
}

.img_avatar{
    width: 30px;
}

#table table tr:hover{
    background-color: var(--lightgrey-);
}

/* #endregion Main */


/* #region Footer */















/* #endregion Footer */


/* #region @Media */

@media screen and (max-width: 958px) {
    .banner_top .student_offcanvas{
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    
    .student_online div{
        text-align: center;
    }
}




/* #endregion @Media */




